<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome You Home!</title>
    <style>
        *{
            padding: 0;
            border: 0;
            margin: 0;
        }
    </style>
    {% load static %}
    <link rel="icon" href="{% static '01.ico' %}">
</head>
<body>
{#<h1>{{ request.method }}</h1>#}
<h1>hello {{ name }}</h1>
<div id="div_time">{{ now_time }}</div>
<a href="{% url 'signin' %}" id="url_1">点击注册</a>
<a href="{% url 'login' %}" id="url_1">点击登陆</a>
<script src="{% static 'jquery.js' %}"></script>
<script>
    $('#div_time').css('color','#ff0000')
</script>
</body>
</html>
